<% provide :title, "About" %>
<div class="row">
  <div class="col-lg-12">

    <h1 class="page-title">About   <span class="">KMForum</span></h1>
    <br>

    <h3>What is KMForum?</h3>
    <p>
      KMForum is a discussion board web application written in
      <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank' %>
      and
      <%= link_to 'Bootstrap', 'http://getbootstrap.com/', target: '_blank' %>.
      It's simple and responsive to mobile devices.
    </p>
    <br>

    <h3>Source code</h3>
    <p>
      KMForum source code is hosted on
      <%= link_to 'GitHub', 'https://github.com/KamilMilewski/km-forum', target: '_blank' %>.
    </p>
    <br>

    <h3>Author</h3>
    <p>
      KMForum has been written by
      <%= link_to 'Kamil Milewski', contact_path %>.
    </p>
    <br>

    <h3>Legal stuff</h3>
    <h4>
      KMForum is available under an
      <%= link_to 'MIT', 'https://opensource.org/licenses/MIT', target: '_blank' %>-style license.
       Copyright &copy; 2016 Kamil Milewski
    </h4>

    <p>
      Permission is hereby granted, free of charge, to any person obtaining a
      copy of this software and associated documentation files (the "Software"),
      to deal in the Software without restriction, including without limitation
      the rights to use, copy, modify, merge, publish, distribute, sublicense,
      and/or sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following conditions:
    </p>

    <p>
      The above copyright notice and this permission notice shall be included in
      all copies or substantial portions of the Software.
    </p>

    <p>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
      IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
    </p>

    <br>

  </div>
</div>
