<!-- form errors moved to partial shared/notices -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% #we use ":session, url..." because :session isn't an ActiveRecord resource %>
    <%= form_for :session, url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email,
                        class: 'form-control',
                        placeholder: 'Put email You used to create your account here...'%>

      <br>

      <%= f.label :password %>
      <%= f.password_field :password,
                           class: 'form-control',
                           placeholder: 'Put your password here...'%>

      <br>

      <%= f.submit 'Log in', class: 'btn btn-primary form-control ' %>
    <% end %>

    <br>

    <p>Dont have an account? <%= link_to 'Create now', signup_path %>
      
  </div>
</div>
