<!-- form errors moved to partial shared/notices -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for [@category, @topic] do |f| %>
			<p>
				<%= f.label :title %><br>
				<%= f.text_field :title,
													class: "form-control",
													placeholder: "Put topic title here..." %>
			</p>
			<p>
				<%= f.label :content %><br>
				<%= f.text_area :content,
												 class: "form-control",
												 placeholder: "Put topic content here..." %>
			</p>

			<br>

			<p>
				<%= f.submit class: "btn btn-primary form-control" %>
			</p>
		<% end %>
	</div>
</div>
