<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for [@category, @topic], html: { multipart: true } do |f| %>

      <%= render 'shared/form_errors_notices', entity: f.object %>

			<%= f.label :title %>
			<%= f.text_field :title,
												class: "form-control",
												placeholder: "Put topic title here..." %>

      <br>

			<%= f.label :content %>
			<%= f.text_area :content,
											 class: "form-control",
											 placeholder: "Put topic content here..." %>

		  <br>

      <%= f.hidden_field :user_id, value: current_user.id %>

			<%= f.submit class: "btn btn-primary form-control" %>

      <br>
      <br>

        <%= f.file_field :picture %>

      <br>

      <%= render 'shared/delete_picture_checkbox', object: @topic,
                                                   action: action %>

		<% end %>

    <%= render 'shared/check_picture_size', object: @topic %>

	</div>
</div>
