<!-- form errors moved to partial shared/notices -->

<div class="form-group">
	<%= form_for [@category, @topic] do |f| %>

		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title,
				class: "form-control", placeholder: "Put topic title here..." %>
		</p>
		<p>
			<%= f.label :content %><br>
			<%= f.text_area :content,
				class: "form-control", placeholder: "Put topic content here..." %>
		</p>

		<p>
			<%= f.submit class: "btn btn-default" %>
		</p>
	<% end %>
</div>
