<% @posts.each do |post| %>
	<div class="media">
		<div class="media-left media-top">
			<a href="#">
				<img class="media-object" src='<%= image_url 'default_avatar.jpg' %>'
						alt="default_avatar">
			</a>
		</div>
		<div class="media-body">
			<p class="post-content"><%= post.content %></p>
			<% # Display picture if any has been uploaded for this post %>
			<%= image_tag post.picture.url if post.picture? %>
		</div>

		<% if logged_in? &&
					( current_user.admin? ||
					# Moderators can edit and delete all posts excluded admin's posts.
					 (current_user.moderator? && !post.user.admin?) ||
						current_user.owner_of(post) )
					%>
	    <div class="edit-delete-btns">
	  		<%= link_to "Edit",
	  					edit_post_path(post),
	  					class: "btn btn-warning btn-xs" %>
	  		<%= link_to "Delete",
	  					post,
	  					method: :delete,
							data: {confirm: "Are You sure You want to delete this post?"},
	  					class: "btn btn-danger btn-xs" %>
	    </div>
		<% end %>
	</div>
<% end %>
