<div class="topics-index-row">

	<!-- Topic -->
	<div class="topic-cell-1">
		<%= link_to topic.title, topic, class: "topic" %><br>
		<%= render 'topics/edit_delete_links', topic: topic %>
	</div>

	<!-- Posts -->
	<div class="topic-cell-2">
		<span><%= topic.posts.count %></snap>
	</div>

	<!-- Author -->
	<div class="topic-cell-3">
		<% user = topic.user %>
		<%= render 'shared/avatar', user: user %>
		<% # Deleted user handling %>
		<% if user.nil? %>
			<br><%= link_to 'user deleted', '#' %>
		<% else %>
			<%= link_to user.name, user  %>
		<% end %>
	</div>

		<!-- Activity -->
		<div class="topic-cell-4">
			<% unless topic.posts.empty? %>
				<% last_post = topic.posts.last %>
				<%= link_to truncate(last_post.content, length: 40),
										topic_path(topic, anchor: last_post.anchor, page: topic.last_page),
										tooltip: CGI.unescapeHTML("Post: #{truncate(last_post.content, length: 100)}"),
										class: 'post-preview' %>
				<br>
				<span>by
					<% # Deleted user handling %>
					<% user = last_post.user %>
					<% if user.nil? %>
						<%= link_to 'user deleted', '#' %>
					<% else %>
						<%= link_to user.name, user %>
					<% end %>
				</span>
			<% else %>
				<%= link_to truncate(topic.content, length: 40),
										topic_path(topic),
										tooltip: CGI.unescapeHTML("Topic: #{truncate(topic.content, length: 100)}"),
										class: 'post-preview' %>
				<br>
				<span>by
					<% # Deleted user handling %>
					<% user = topic.user %>
					<% if user.nil? %>
						<%= link_to 'user deleted', '#' %>
					<% else %>
						<%= link_to user.name, user %>
					<% end %>
				</span>
			<% end %>
			<span tooltip="<%= topic.last_activity.strftime(KmForum::DATEFORMAT) %>">
				<%= time_ago_in_words(topic.last_activity) %> ago
			</span>
		</div>
</div>
