<% provide :title, @topic.title %>


<%= render 'new_post_button' %>

<h3>
  Topic title: <%= @topic.title %>
  (<%= "Page: #{@posts.current_page}/#{@posts.total_pages}" %>)
</h3>

<hr>

<%= if params[:page] == nil || params[:page] == 1 then render 'topic' end %>

<%= render 'posts' %>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<hr>

<%= render 'new_post_button' %>
