<% # Since there is a custom path for creating new users (signup_path), %>
<% # we need to provide proper url key for form_for function. %>
<% # Without this, after invalid form submission we have 'users/new' in %>
<% # webbrowser address bar instead of '/signup' %>

<% # html: { multipart: true } is to allow image uploads. %>
<%= form_for @user, url: yield(:form_url), html: { multipart: true } do |f| %>

    <%= render 'shared/form_errors_notices', entity: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name,
                      class: 'form-control',
                      placeholder: 'Put your name here...' %>

    <br>

    <%= f.label :email %>
    <%= f.email_field :email,
                       class: 'form-control',
         placeholder: 'Put your email address here (account id)...' %>

    <br>

    <%= f.label :password %>
    <%= f.password_field :password,
                          class: 'form-control',
          placeholder: 'Put your password here (minimum 6 characters)...' %>

    <br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,
                          class: 'form-control',
                          placeholder: 'Confirm password here...' %>

    <br>

    <% # elevate permissions form tag %>
      <% if logged_in? && current_user.admin? && !@user.admin? %>
      <%= f.label :permissions %>
      <% options = options_for_select([ ['user', 'user'], ['moderator', 'moderator'] ], @user.permissions) %>
      <%= f.select :permissions, options %>
      <aside>
        <span class="text-muted">Current permisssions level: </span><%= @user.permissions %>
      </aside>
    <% end %>

    <br>
    <br>

    <%= f.submit (yield :form_button_text),
                          class: 'btn btn-primary form-control' %>

    <br>

    <% # Avatar form tag %>
    <% if action == :edit %>
      <hr>
      <p>You can upload custom avatar for your profile...</p>
      <%= f.file_field :avatar %>
      <br>
      <%= render 'shared/delete_avatar_checkbox', object: @user, action: action %>
      <br><br>
      <p>...or stick with <a href="https://en.gravatar.com/support/what-is-gravatar/" targer="blank">Gravatar</a> provided picture.</p>

      <div class="gravatar_edit">
        <%= image_tag gravatar_url(@user), alt: @user.name, class: 'media-object' %>
      </div>
    <% end %>

<% end %>

  <%= render 'shared/check_avatar_size', object: @user %>
