<div class="user-row">

  <!-- User's avatar -->
  <div class="user-cell-1">
    <%= render 'shared/avatar', user: user %>
  </div>

  <!-- User's name -->
  <div class="user-cell-2">
    <h4>
      <%= link_to user.name, user %>
    </h4>
    <%= render 'users/edit_delete_links', user: user %>
  </div>

  <!-- User joinded -->
  <div class="user-cell-3">
    <% if user.activated == true %>
      <span tooltip="<%= user.activated_at %>">
        <%= time_ago_in_words(user.activated_at) %> ago
      </span>
    <% else %>
    <span>Not activated
    </span>
    <% end %>
  </div>

  <!-- User's posts -->
  <div class="user-cell-4">
    <span>
      <%= user.posts.count %>
    </span>
  </div>

  <!-- User's topics -->
  <div class="user-cell-5">
    <span>
      <%= user.topics.count %>
    </span>
  </div>

</div>
