<!-- form errors moved to partial shared/notices -->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for [@topic, @post] do |f| %>

				<%= f.label :content %>
				<%= f.text_area :content,
												class: "form-control",
												placeholder: "Put post content here..." %>

        <%= f.hidden_field :user_id, value: find_current_user.id %>

			<br>
				<%= f.submit class: "btn btn-primary form-control" %>
		<% end %>
	</div>
</div>
