<div class="form-group">
	<%= form_for [@topic, @post] do |f| %>

		<!-- Error notices -->
		<% if @post.errors.any? %>
			<div class="alert alert-warning">

				<a href="#" class="close" data-dismis="alert" aria-label="close">
					&times;</a>

				<p><strong>
					<%= pluralize(@post.errors.count, 'error') %>
					prevented this post from being created:
				</strong></p>

				<ul>
					<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
				
			</div>
		<% end %>

		<p>
			<%= f.label :content %><br>
			<%= f.text_area :content,
				class: "form-control", placeholder: "Put post content here..." %>
		</p>
		
		<p>
			<%= f.submit class: "btn btn-default" %>
		</p>
	<% end %>
</div>