<%= render 'shared/errors_explanation' %>

<div class="form-group">
	<%= form_for [@topic, @post] do |f| %>

		<p>
			<%= f.label :content %><br>
			<%= f.text_area :content,
				class: "form-control", placeholder: "Put post content here..." %>
		</p>

		<p>
			<%= f.submit class: "btn btn-default" %>
		</p>
	<% end %>
</div>
