<div class="media-body resource-body">

  <%= render 'posts/resource_heading', user: resource.user %>

  <p><%= markdown(resource.content) %></p>

  <% # Display picture if any has been uploaded for this resource %>
  <div class="resource-picture">
    <% if resource.picture? %>
      <%= image_tag resource.picture.url %><br>
      <aside><%= File.basename(resource.picture.to_s) %></aside>
    <% end %>
  </div>

  <%= render 'posts/edit_delete_links', resource: resource %>
</div>
<%= render 'posts/resource_date', resource: resource %>
