<div class="media-body resource-body">

  <%= render 'posts/resource_heading', user: resource.user %>

  <p><%= resource.content %></p>

  <% # Display picture if any has been uploaded for this resource %>
  <%= image_tag resource.picture.url if resource.picture? %>

  <%= render 'posts/edit_delete_links', resource: resource %>
</div>
<%= render 'posts/resource_date', resource: resource %>
