<% provide :title, @topic.title %>

<br>

<h3>
  <%= link_to 'Home page', root_path %> /
  <%= link_to @topic.category.title, @topic.category %> / <%= @topic.title %>
  (<%= "Page: #{@posts.current_page}/#{@posts.total_pages}" %>)
</h3>

<hr>

<!-- Render topic if it's a first page -->
<% if params[:page] == nil || params[:page] == 1 %>
  <%= render 'posts/resource', resource: @topic %>
<% end %>

<!-- Render posts -->
<% @posts.each do |post| %>
  <%= render 'posts/resource', resource: post %>
<% end %>

<div class="row">

  <div class="col-md-6">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: 'pull-left' %>
  </div>

  <div class="col-md-6">
    <%= render 'posts/new_post_button' %>
  </div>

</div>

<br>
