<!-- form errors moved to partial shared/notices -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<%= form_for @category do |f| %>

        <%= render 'shared/form_errors_notices', entity: f.object %>

				<%= f.label :title %>
				<%= f.text_field :title,
													class: "form-control",
													placeholder: "Put category title here..." %>

        <br>

				<%= f.label :description %>
				<%= f.text_area :description,
												 class: "form-control",
												 placeholder: "Put category description here..." %>

        <br>

				<%= f.submit class: "btn btn-primary form-control" %>

		<% end %>
	</div>
</div>
