<% if @topics.empty? %>

	<p class="empty-resource-notice">There are no topics yet in this category.</p>

<% else %>
	<table class="table table-hover topics-table">
		<thead>
			<tr>
				<td class="topic">Topic</td>
				<td class="author">Author</td>
				<td class="replies">Replies</td>
				<td class="activity">Activity</td>
			</tr>
		</thead>
		<tbody>
			<% @topics.each do |topic| %>
				<tr>

					<!-- Topic -->
					<td class="topic">
						<%= link_to topic.title, topic, class: "topic-show" %><br>
						<span class="topic-peek" tooltip="<%= topic.content %>">(peek)</span>
						<%= render 'edit_delete_links', topic: topic %>
					</td>

					<!-- Author -->
					<td class="author">
						<%= render 'shared/user_avatar', user: topic.user %>
						<%= link_to topic.user.name, topic.user %>
					</td>

					<!-- Replies -->
					<td class="replies">
						<span><%= topic.posts.count %></snap>
					</td>

					<!-- Last activity -->
					<td class="activity">
						<span tooltip="<%= topic.last_activity %>">
							<%= time_ago_in_words(topic.last_activity) %> ago
						</span>
					</td>

				</tr>

			<% end %>
		</tbody>
	</table>
<% end %>
