<% if @topics.empty? %>

	<p class="empty-resource-notice">There are no topics yet in this category.</p>

<% else %>
	<table class="table table-hover topics-table">
		<thead>
			<tr>
				<td class="topic">Topic</td>
				<td class="replies">Posts</td>
				<td class="author">Topic owner</td>
				<td class="activity">Activity</td>
			</tr>
		</thead>
		<tbody>
			<% @topics.each do |topic| %>
				<tr>

					<!-- Topic -->
					<td class="topic">
						<%= link_to topic.title, topic, class: "topic-show" %><br>
						<span class="topic-peek" tooltip="<%= topic.content %>">(peek)</span>
						<%= render 'edit_delete_links', topic: topic %>
					</td>

					<!-- Replies -->
					<td class="posts">
						<span><%= topic.posts.count %></snap>
					</td>

					<!-- Author -->
					<td class="author">
						<%= render 'shared/user_avatar', user: topic.user %>
						<%= link_to topic.user.name, topic.user %>
					</td>

					<!-- Last activity -->
					<td class="activity">
						<% unless topic.posts.empty? %>
							<% last_post = topic.posts.last %>
							<%= link_to truncate(last_post.content, length: 25),
							 						topic_path(topic, page: topic.last_page),
													tooltip: "Post: #{truncate(last_post.content, length: 100)}",
													class: 'post-preview' %>
													<br>
							<span>by <%= link_to last_post.user.name, last_post.user %> </span>
						<% end %>
						<span tooltip="<%= topic.last_activity %>">
							<%= time_ago_in_words(topic.last_activity) %> ago
						</span>
					</td>

				</tr>

			<% end %>
		</tbody>
	</table>
<% end %>
