<%= render 'new_category_button' %>

<hr>

<% if @categories.empty? %>
	<p class="empty-resource-notice">There are no categories yet.</p>
<% else %>
	<% @categories.each do |category| %>
		<a href="<%= category_path(category) %>"
		   class="list-group-item list-group-item-warning">
			<h4 class="list-group-item-heading category-title">
				<%= category.title %>
			</h4>
			<p class="list-group-item-text category-description">
				<%= category.description %>
			</p>
		</a>
			<% if logged_in? && current_user.admin? %>
				<div class="edit-delete-btns">
					<%= link_to "Edit",
								edit_category_path(category),
								class: "btn btn-warning btn-xs" %>
					<%= link_to "Delete",
								category_path(category),
								method: :delete,
								data: {confirm: 'Are You sure You want to delete this' \
																' category along with all it\'s topics?'},
								class: "btn btn-danger btn-xs" %>
				</div>
			<% end %>
		<% end %>
<% end %>

<hr>

<%= render 'new_category_button' %>
