
<br>

<%= render 'home_page_notice' %>

<% if @categories.empty? %>

	<p class="empty-resource-notice">There are no categories yet.</p>

<% else %>

	<div class="row categories-index-head">
		<!-- Icon cell -->
		<div class="col-md-1 category-first-head">

		</div>
		<!-- Title & description cell -->
		<div class="col-md-7 category-second-head">
			<p>Category</p>
		</div>
		<!-- Posts count cell -->
		<div class="col-md-2 hidden-sm hidden-xs category-third-head">
			<p>Posts</p>
		</div>
		<!-- Last activity cell -->
		<div class="col-md-2 hidden-sm hidden-xs category-fourth-head">
			<p>Activity</p>
		</div>
	</div>

	<% @categories.each do |category| %>

		<div class="row categories-index-body">
			<!-- Icon cell -->
			<div class="col-lg-1 col-md-1 category-first-cell">
				<%= image_tag "ruby_logo.png", alt: "ruby" %>
			</div>
			<!-- Title & description cell -->
			<div class="col-lg-7 col-md-7 category-second-cell">
				<h3><%= link_to category.title, category %></h3>
				<p><%= category.description %></p>
				<%= render 'edit_delete_category_links', category: category %>
			</div>
			<!-- Posts count cell -->
			<div class="col-lg-2 col-md-2 .hidden-sm hidden-xs category-third-cell">
				<span><%= category.posts_count %></span>
			</div>
			<!-- Last activity cell -->
			<div class="col-lg-2 col-md-2 .hidden-sm hidden-xs category-fourth-cell">
				<span tooltip="<%= category.updated_at %>">
					<%= time_ago_in_words(category.last_activity) %> ago
				</span>
			</div>
		</div>

	<% end %>
<% end %>

<br>

<%= render 'new_category_button' %>
