<% provide :title, @category.title %>

<br>
<br>

<h3>
  <%= link_to 'Home page', root_path %> / <%= @category.title %>
  (<%= "Page: #{@topics.current_page}/#{@topics.total_pages}" %>)
</h3>


<%= render 'topics' %>

<div class="row">
  <div class="col-md-4">
    <%= will_paginate @topics, renderer: BootstrapPagination::Rails, class: 'pull-left' %>
  </div>
  <div class="col-md-8">
    <%= render 'new_topic_button' %>
  </div>
</div>
